@import url("https://fonts.googleapis.com/css2?family=Anta&family=Comfortaa:wght@700&family=Source+Sans+Pro:wght@900&display=swap");

* {
    margin: 0;
    text-decoration: none;
}

html,
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: black;
    place-items: center;
    position: fixed;
    overflow-y: scroll;
}

.page-wrapper {
    display: grid;
    place-items: center;
    text-align: center;
/*    padding: 0 0 200px 0;*/
    width: 100%;
}

.content-wrapper {
    padding: 100px 15vw 100px 15vw;
}

h1 {
    
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;
/*    font-family: "Roboto", sans-serif;*/
    font-size: 14vw;
    letter-spacing: -0.5vw;
}

p {
    color: #6ee5e3;
    font-family: "Comfortaa", cursive;
/*    font-size: 5vw;*/
    margin: 15px 0;
}

#cbar {
    color: #6ee5e3;
    font-family: "Comfortaa", cursive;
    font-size: 5vw;
    margin: 15px 0;
}

.divider {
    color: white;
}

.icon {
    color: white;
    padding: 8px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

a {
    color: inherit;
    width: 100%;
}

@media screen and (min-width: 600px) {

    h1 {
        font-size: 10vw;
        letter-spacing: -0.25vw;
    }

    p {
        font-size: 1.5vw;
/*        padding: 0px 20vw;*/
    }

    #cbar {
        font-size: 3.4vw;
        padding: 0px;
    }

    .icon {
        padding: 15px;
        transition: background-color 1s ease,
            color .3s ease;
    }

    .page-wrapper {
        padding: 0 0 0 0;
    }

    .icon:hover {
        cursor: pointer;
        color: black;
        background-color: #6ee5e3;
    }

    a {
        transition: background-color .3s ease,
        color .3s ease;
    }


}